<app-header></app-header>
<app-banner></app-banner>
<app-flashsale></app-flashsale>
<app-topsale></app-topsale>


<div class="banner">
  <img
    src="https://cdn.shopify.com/s/files/1/0635/2581/4492/files/grid-bg_713a66b3-cf9b-40f3-8016-ddff0b06b76f.jpg?v=1648717036"
    alt="" class="card-img">
  <div class="contact mr-5">
    <h2 class="text-dark">Perfect combination of style and design in wrist watches</h2>
    <p class="subtitle">Dignissim diam quis enim lobortis. Egestas sed tempus urna et pharetra pharetra massa. Platea
      dictumst quisque sagittis purus sit amet. Nunc mi ipsum faucibus vitae aliquet nec.</p>
    <div class="sign">
      <img src="https://cdn.shopify.com/s/files/1/0635/2581/4492/files/signonly_300x300.png?v=1648798778" alt=""
        class="card-img">
    </div>
  </div>
</div>
<div class="mt-5">
  <div class="products">
    <div class="container">
      <!-- <div class="row align-items-center justify-content-between"> -->
      <div class="mt-4">
        <div class="text-center">
          <h2 class="text-uppercase" routerLink="/manshop">MAN'S SHOP</h2>
          <div class="border-custom"></div>
        </div>
        <div class="container mt-3">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card" style="width: 17rem;">
                <img class="card-img-top"
                  src="https://www.danielwellington.com/product-images/DW00100482_Iconic_Li-gTM2-XaQ.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
                  alt="Card image cap">
                <div class="card-body">
                  <div class="text-center">
                    <p class="h4">CLASSIC SHEFFIELD</p>
                  </div>
                  <div class="price d-flex align-items-center justify-content-between">
                    <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
                    <!-- <p class="sale">3,200,000 vnd</p> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="card" style="width: 17rem;">
                <img class="card-img-top"
                  src="https://www.danielwellington.com/product-images/DW00100448_Iconic_Li-m5oeO0v9.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
                  alt="Card image cap">
                <div class="card-body">
                  <div class="text-center">
                    <p class="h4">CLASSIC BAYSWATER</p>
                  </div>
                  <div class="price d-flex align-items-center justify-content-between">
                    <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
                    <!-- <p class="sale">3,200,000 vnd</p> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <img src="../../../../assets/img_banner_watch_men.png" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container mt-3">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 17rem;">
          <img class="card-img-top"
            src="https://www.danielwellington.com/product-images/cl40-oxford-s-_UIpqOE5.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <p class="h4">EMALIE NECKLACE</p>
            </div>
            <div class="price d-flex align-items-center justify-content-between">
              <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
              <!-- <p class="sale">3,200,000 vnd</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 17rem;">
          <img class="card-img-top"
            src="https://www.danielwellington.com/product-images/DW00100544_Classic_S-edcavx1t.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <p class="h4">PETITE BRISTOL</p>
            </div>
            <div class="price d-flex align-items-center justify-content-between">
              <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
              <!-- <p class="sale">3,200,000 vnd</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 17rem;">
          <img class="card-img-top"
            src="https://www.danielwellington.com/product-images/cl40-bayswater-s-RXHiYkHL.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <p class="h4">PETITE YORK</p>
            </div>
            <div class="price d-flex align-items-center justify-content-between">
              <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
              <!-- <p class="sale">3,200,000 vnd</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 17rem;">
          <img class="card-img-top"
            src="https://www.danielwellington.com/product-images/dw-classic-black-cor-CRH9opd4.png?ecom2=true&format=jpg&canvas=1:1&width=768&quality=80&bg-color=FFFFFF"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <p class="h4">PETITE DURHAM</p>
            </div>
            <div class="price d-flex align-items-center justify-content-between">
              <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
              <!-- <p class="sale">3,200,000 vnd</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="mt-4">
    <div class="text-center">
      <h2 class="text-uppercase" routerLink="/womanshop">WOMAN'S SHOP</h2>
      <div class="border-custom"></div>
    </div>
    <div class="container mt-3">
      <div class="row align-items-center justify-content-between">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" style="width: 17rem;">
            <img class="card-img-top"
              src="https://www.danielwellington.com/product-images/DW00100479_Petite_Em-8SuKKzvA.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
              alt="Card image cap">
            <div class="card-body">
              <div class="text-center">
                <p class="h4">PETITE SUFFOLK</p>
              </div>
              <div class="price d-flex align-items-center justify-content-between">
                <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
                <!-- <p class="sale">3,200,000 vnd</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="card" style="width: 17rem;">
            <img class="card-img-top"
              src="https://www.danielwellington.com/product-images/DW00100476_Petite_Am-TUctOpEV.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
              alt="Card image cap">
            <div class="card-body">
              <div class="text-center">
                <p class="h4">CLASSIC SOMERSET</p>
              </div>
              <div class="price d-flex align-items-center justify-content-between">
                <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
                <!-- <p class="sale">3,200,000 vnd</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 p-0">
          <img src="../../../../assets/img_banner_watch_men2.png" alt="" class="card-img">
        </div>

      </div>
    </div>
  </div>



  <div class="container mt-3">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 17rem;">
          <img class="card-img-top"
            src="https://www.danielwellington.com/product-images/DW00100470_Petite_Un-1ThXRoTD.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <p class="h4">CLASSIC WARWICK</p>
            </div>
            <div class="price d-flex align-items-center justify-content-between">
              <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
              <!-- <p class="sale">3,200,000 vnd</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 17rem;">
          <img class="card-img-top"
            src="https://www.danielwellington.com/product-images/DW00100527_Quadro_20-wc3A21e0.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <p class="h4">CLASSIC GLASGOW</p>
            </div>
            <div class="price d-flex align-items-center justify-content-between">
              <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
              <!-- <p class="sale">3,200,000 vnd</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 17rem;">
          <img class="card-img-top"
            src="https://www.danielwellington.com/product-images/dw00100245_petite_as-rh-yEpjm.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <p class="h4">CLASSIC READING</p>
            </div>
            <div class="price d-flex align-items-center justify-content-between">
              <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
              <!-- <p class="sale">3,200,000 vnd</p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card" style="width: 17rem;">
          <img class="card-img-top"
            src="https://www.danielwellington.com/product-images/dw00100214_link_28_r-rp8DqoUJ.png?ecom2=true&format=jpg&canvas=1:1&width=400&quality=80&bg-color=FFFFFF"
            alt="Card image cap">
          <div class="card-body">
            <div class="text-center">
              <p class="h4">PETITE BRISTOL</p>
            </div>
            <div class="price d-flex align-items-center justify-content-between">
              <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
              <!-- <p class="sale">3,200,000 vnd</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="mt-4">
    <div class="text-center">
      <h2 class="text-uppercase">ACCESSORY</h2>
      <div class="border-custom"></div>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card" style="width: 17rem;">
                <img class="card-img-top"
                  src="https://www.danielwellington.com/product-images/dw00400153_emalie_ne-ZjI4nZ4n.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
                  alt="Card image cap">
                <div class="card-body">
                  <div class="text-center">
                    <p class="h4">CLASSIC WARWICK</p>
                  </div>
                  <div class="price d-flex align-items-center justify-content-between">
                    <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
                    <!-- <p class="sale">3,200,000 vnd</p> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card" style="width: 17rem;">
                <img class="card-img-top"
                  src="https://www.danielwellington.com/product-images/MicrosoftTeams-image-jY_Ycid1.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
                  alt="Card image cap">
                <div class="card-body">
                  <div class="text-center">
                    <p class="h4">PETITE YORK</p>
                  </div>
                  <div class="price d-flex align-items-center justify-content-between">
                    <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
                    <!-- <p class="sale">3,200,000 vnd</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card" style="width: 17rem;">
                <img class="card-img-top"
                  src="https://www.danielwellington.com/product-images/dw00400168_elan_unit-v26LiFc1.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
                  alt="Card image cap">
                <div class="card-body">
                  <div class="text-center">
                    <p class="h4">EMALIE NECKLACE</p>
                  </div>
                  <div class="price d-flex align-items-center justify-content-between">
                    <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
                    <!-- <p class="sale">3,200,000 vnd</p> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="card" style="width: 17rem;">
                <img class="card-img-top"
                  src="https://www.danielwellington.com/product-images/DW00400349_Classic_L-W5a7BIqp.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF"
                  alt="Card image cap">
                <div class="card-body">
                  <div class="text-center">
                    <p class="h4">CLASSIC BAYSWATER</p>
                  </div>
                  <div class="price d-flex align-items-center justify-content-between">
                    <!-- <p class="card-text opcaity"><del>4,600,000 vnd</del></p> -->
                    <!-- <p class="sale">3,200,000 vnd</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="../../../../assets/img_banner_accessory.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <app-footer></app-footer>
  </div>