<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text">
                    <h4 class="text-center">NHẬN THÔNG TIN KHUYẾN MÃI TỪ CHÚNG TÔI</h4>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input text-center">
                    <input type="text" placeholder="Nhập email của bạn tại">
                    <button type="submit">Gửi</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mt-5">
                <div class="image">
                    <img src="https://bizweb.dktcdn.net/100/438/171/themes/836357/assets/logo.png?1658284088845" alt="">
                </div>
                <div class="address">
                    <i class="fa-solid fa-location-dot location"></i>
                    <span>Tầng 6, Tòa nhà Ladeco, 266 Đội Cấn, Phường Liễu Giai, Quận Ba Đình, TP Hà Nội</span>
                </div>
                <div class="time">
                    <i class="fa-solid fa-clock clock"></i>
                    <span>9:00 am to 22:00 pm on Weekly</span>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 mt-5">
                <div class="shop">
                    <div class="row">
                        <h4>Về chúng tôi</h4><span><i class="fas fa-angle-down"></i></span>
                    </div>
                    <ul>
                        <li><a href="" routerLink="/">Home</a></li>
                        <li><a href="" routerLink="/about">About us</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href="" routerLink="/contact">Contact</a></li>
                        <li><a href="" routerLink="/faq">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 mt-5">
                <div class="help">
                    <div class="row">
                        <h4>Hỗ trợ khách hàng</h4><span><i class="fas fa-angle-down"></i></span>
                    </div>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="" routerLink="/about">About us</a></li>
                        <li><a href="">Shop</a></li>
                        <li><a href=""routerLink="/contact">Contact</a></li>
                        <li><a href="" routerLink="/faq">FAQs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 mt-5">
                <div class="more">
                    <div class="row">
                        <h4>Dịch vụ</h4><span><i class="fas fa-angle-down"></i></span>
                    </div>
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="" routerLink="/about">About us</a></li>
                        <li><a href="" routerLink="/">Shop</a></li>
                        <li><a href="" routerLink="/contact">Contact</a></li>
                        <li><a href="" routerLink="/faq">FAQs</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>