<div class="header-blue">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="https://bizweb.dktcdn.net/100/438/171/themes/836357/assets/logo.png" alt="">
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/">Home</a></li>
                    <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" href="#">Shop </a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="" routerLink="/manshop">Man's Shop</a>
                            <a class="dropdown-item" role="presentation" href="" routerLink="/womanshop">Woman's Shop</a>
                        </div>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/about" href="#">About</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/contact">Contact</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" routerLink="/faq" href="">FAQs</a></li>
                </ul>
                <form class="form-inline mr-auto" target="_self">
                    <div class="form-group">
                        <!-- <label for="search-field">
                            <i class="fa fa-search"></i>
                        </label>
                        <input class="form-control search-field" type="search" name="search" id="search-field"> -->
                    </div>
                </form>
                <span class="navbar-text">
                    <a href="#" class="login" routerLink="/cart"><i class="fa fa-shopping-bag" aria-hidden="true"></i></a>
                </span>
                <span class="navbar-text" >
                    <a href="#" class="login" routerLink="/signin">Log In</a>
                </span>
                <a class="btn btn-light action-button" role="button" href="#" routerLink="/signin">Sign Up</a>
            </div>
        </div>
    </nav>

</div>
