<app-header></app-header>

<div class="main p-5">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign
                In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up">
            <label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <form [formGroup]="loginForm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input" formControlName="email">
                            <div *ngIf="formLogin.email.invalid && (formLogin.email.dirty || formLogin.email.touched)">
                                <span class="text-danger">This field must be filled !</span>
                            </div>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password"
                                formControlName="password">
                            <div
                                *ngIf="formLogin.password.invalid && (formLogin.password.dirty || formLogin.password.touched)">
                                <span class="text-danger">This field must be filled !</span>
                            </div>
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check"><span class="icon"></span> Keep me Signed in</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign In">
                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk text-white">
                            <a href="#forgot">Forgot Password?</a>
                        </div>
                    </form>
                </div>
                <div class="sign-up-htm">
                    <form [formGroup]="signupForm">
                        <div class="group">
                            <label for="user" class="label">Username</label>
                            <input id="user" type="text" class="input" formControlName="Name">
                            <div *ngIf="formSignup.Name.invalid && (formSignup.Name.dirty || formSignup.Name.touched)">
                                <span class="text-danger">This field must be filled !</span>
                            </div>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Password</label>
                            <input id="pass" type="password" class="input" data-type="password" formControlName="Password">
                            <div *ngIf="formSignup.Password.invalid && (formSignup.Password.dirty || formSignup.Password.touched)">
                                <span class="text-danger">This field must be filled !</span>
                            </div>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Repeat Password</label>
                            <input id="pass" type="password" class="input" data-type="password" formControlName="rePassword">
                            <div *ngIf="formSignup.rePassword.invalid && (formSignup.rePassword.dirty || formSignup.rePassword.touched)">
                                <span class="text-danger">This field must be filled !</span>
                            </div>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">Email Address</label>
                            <input id="pass" type="text" class="input" formControlName="Email">
                            <div *ngIf="formSignup.Email.invalid && (formSignup.Email.dirty || formSignup.Email.touched)">
                                <span class="text-danger">This field must be filled !</span>
                            </div>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="Sign Up">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>