<div class="banner-fixed p-5">
  <div class="text-center">
    <h2 class="text-uppercase">Flash sale hàng tuần</h2>
    <div class="border-custom"></div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="img m-auto">
          <img src="https://www.danielwellington.com/product-images/cl40-oxford-s-_UIpqOE5.png?ecom2=true&format=jpg&canvas=1:1&width=960&quality=80&bg-color=FFFFFF" alt="" class="card-img">
        </div>
      </div>
      <div class="col-lg-6">
        <h4 class="font-weight-bold text-dark">CLASSIC GLASGOW</h4>
        <div class="price">
          <p class="sale-price d-inline-block">400$</p>
          <p class="main-price d-inline-block"><del>500$</del></p>
        </div>
        <div class="des">
          <p>Đồng hồ MVMT Black Link dòng Classic với thiết kế tối giản tinh tế cho các quý ông hiện đại.
            Nhập khẩu chính hãng từ US. Free Ship toàn quốc! </p>
        </div>
        <div class="view_more">
          <button type="button" routerLink="/manshop" class="btn-buy">Mua Ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>